<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Locadora Filmes", User.Identity.IsAuthenticated ? "Index" : "Login", User.Identity.IsAuthenticated ? "Characters" : "Users", new { area = "" }, new { @class = "navbar-brand" })
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Characters", "Index", "Characters")</li>
                        <li>@Html.ActionLink("Types", "Index", "CharacterTypes")</li>
                        <li>
                            <p>Hello, @User.Identity.Name</p>
                        </li>
                        <li>
                            @Html.ActionLink("Logoff", "Logoff", "Users")
                        </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "Login", "Users")</li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/customjs")
    @RenderSection("scripts", required: false)
</body>
</html>
